<div calss  class="header">

    <ol>
        <li><a href="#"><img src="assets/logos/goz-logo.jpg"style="width: 100px; height:75px;"></a></li>
        <li><a href="#">Strona główna</a></li>
        <li><a href="#">Wirtualna rejestracja</a></li>
        <li><a href="#">Nasi specjaliści</a></li>
        <li><a href="#">Medycyna pracy</a></li>
        <li><a href="https://www.nfz.gov.pl/">NFZ</a></li>
        <li><a href="#">Kontakt</a></li>
        
    </ol>

</div >

<div class="title">Logowanie do wirutalnej rejestracji</div>
<div id="panel">
    <form>
    <label for="username">PESEL</label>
    <input type="text" id="username" name="username">
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password">
    <div id="lower">
    <input id="log" type="submit" value="Zaloguj">
    <a href="#"><input id="reg" type="submit" value="Zarejestruj się!"></a>
   
    </div>
    </form>
</div>

<div class="footer">

    Marcin Cylkowski Junior Java Developer © 2020. Wszelkie prawa zastrzeżone.


</div>
