<div calss  class="header">

    <ol>
        <li><a href="#"><img src="assets/logos/goz-logo.jpg"style="width: 100px; height:75px;"></a></li>
        <li><a href="#">Strona główna</a></li>
        <li><a href="#">Wirtualna rejestracja</a></li>
        <li><a href="#">Nasi specjaliści</a></li>
        <li><a href="#">Medycyna pracy</a></li>
        <li><a href="https://www.nfz.gov.pl/">NFZ</a></li>
        <li><a href="#">Kontakt</a></li>
    </ol>

</div >

<div class="title">Utwórz konto pacjenta</div>
<div id="panel">
    <form>
    <label for="PESEL">PESEL</label>
    <input type="text" id="data" name="PESEL">

    <label for="Name">Imię:</label>
    <input type="text" id="data" name="Name">

    <label for="Surname">Nazwisko:</label>
    <input type="text" id="data" name="Surname">

    <label for="password">Miasto:</label>
    <input type="text" id="data" name="City">

    <label for="data">Ulica:</label>
    <input type="text" id="data" name="Street">

    <label for="password">Numer ulicy:</label>
    <input type="text" id="data" name="StreetNumber">

    <label for="password">Numer telefonu:</label>
    <input type="text" id="data" name="PhoneNumber">

    <label for="password">Email:</label>
    <input type="text" id="data" name="Email">

    <div id="lower">
    <input id="sub" type="submit" value="Utwórz konto">
    
   
    </div>
    </form>
</div>

<div class="footer">

    Marcin Cylkowski Junior Java Developer © 2020. Wszelkie prawa zastrzeżone.


</div>
